DATABASE_URL=postgresql+asyncpg://studysync:studysync_dev@postgres_admin:5432/admin_db
IDENTITY_DB_URL=postgresql+asyncpg://studysync:studysync_dev@postgres:5432/identity_db
GROUP_DB_URL=postgresql+asyncpg://studysync:studysync_dev@postgres_group:5432/group_db
SESSION_MONGODB_URL=mongodb://mongo:27017
SESSION_MONGODB_DB_NAME=session_db

REDIS_URL=redis://redis:6379/6

KAFKA_BOOTSTRAP_SERVERS=kafka:29092
KAFKA_CLIENT_ID=admin-service

IDENTITY_SERVICE_URL=http://identity_service:8000
GROUP_SERVICE_URL=http://group_service:8002

JWT_SECRET_KEY=replace-with-openssl-rand-hex-32

SUPER_ADMIN_EMAIL=admin@studysync.com
SUPER_ADMIN_PASSWORD=admin123