MONGODB_URL=mongodb://mongo:27017
MONGODB_DB_NAME=chat_db
REDIS_URL=redis://redis:6379/3
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
KAFKA_GROUP_EVENTS_TOPIC=GROUP_EVENTS
KAFKA_CHAT_EVENTS_TOPIC=CHAT_EVENTS
JWT_SECRET_KEY=change-me-in-production-use-openssl-rand-hex-32
JWT_ALGORITHM=HS256
GROUP_SERVICE_URL=http://group_service:8002
